.NewTodoForm {
	position: relative;
	display: inline;
}

.NewTodoForm-label {
    display: none;
}

.NewTodoForm-input {
	width: 40vw;
	height: 25px;
	padding: 3px;
    border-radius: 5px;
    border: none;
}