
.TodoList-remove {
    position: relative;
}

.TodoList-ul {
	position: relative;
	font-size: 1.65em;
}

button {
	padding: 6px;
    margin: 6px;
	border-radius: 8px;
	color: white;
	background-color: #808080;
	border: none;
    box-shadow: 1px 1px 3px black;
}